/* Made by Darin Croft */
body{
  background-color: #FFCC99;
}
.flashcarddiv {
    background-color: #FFFFFF;
    margin: auto;
    width: 1000px;
    text-align: center;
    border: 3px solid green;
    padding: 30px;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    height: auto;
    /*transform: translate(0, 50%);*/
}
.error{
  color: grey;
  font-style: italic;
}
